<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Some Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div>
    
    </div>
    <div>
      <button class="doit">FIRE!</button>
    </div>
    
    <div>
      <form action="/api/pulse" method="post">
        <label for="iterations">How many times to pulse sprinklers</label> <br>
        <input name="iterations" type="number"> <br>
        <label for="timeOn">How many seconds to run sprinklers</label> <br>
        <input name="timeOn" type="number"> <br>
        <label for="timeOff">How many seconds to delay in between iterations</label> <br>
        <input name="timeOff" type="number"> <br>
        <button type="submit">ACTIVATE</button>
      </form>
    </div>
    
    
    
    
    <div style="margin-top: 3rem">
      <a href="/logout">Logout</a>
    </div>
  </body>
  <script>
     $(document).ready(function() {
       $('.doit').click(function(e) {
         $.get('http://localhost:5000/api/extinguish', function(e) {
           console.log("TEST");
         });
       });
     });
  </script>
</html>